<a href="https://colab.research.google.com/github/kalusam1/Free-ai-classes-2022/blob/main/final_free_ai_classes_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
	
!curl --header "Host: zindi-private-release.s3.eu-west-2.amazonaws.com" --header "User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.5005.61 Safari/537.36" --header "Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9" --header "Accept-Language: en-US;q=0.8" --header "Referer: https://zindi.africa/" "https://zindi-private-release.s3.eu-west-2.amazonaws.com/uploads/competition_datafile/file/1924/Train.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAZF6GMQOOWFPUAZPE%2F20220607%2Feu-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220607T202950Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Signature=8f9abbfabf487a71471ed0789c43d657a3470642b30a9fd543990dbc0bd35bd2" -L -o "Train.csv"

!curl --header "Host: zindi-private-release.s3.eu-west-2.amazonaws.com" --header "User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.5005.61 Safari/537.36" --header "Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9" --header "Accept-Language: en-US;q=0.8" --header "Referer: https://zindi.africa/" "https://zindi-private-release.s3.eu-west-2.amazonaws.com/uploads/competition_datafile/file/1925/free-ai-classes-in-every-city-hackathon.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAZF6GMQOOWFPUAZPE%2F20220607%2Feu-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220607T202407Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Signature=e72452870eb4ba10ec0273ce72711c3270fe34f07dabf01c310b60893eeceefa" -L -o "free-ai-classes-in-every-city-hackathon.zip"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  515k  100  515k    0     0   420k      0  0:00:01  0:00:01 --:--:--  420k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 33409  100 33409    0     0  45331      0 --:--:-- --:--:-- --:--:-- 45269

In [17]:
!unzip free-ai-classes-in-every-city-hackathon.zip

Archive:  free-ai-classes-in-every-city-hackathon.zip
  inflating: VariableDefinitions.csv
  inflating: SampleSubmission.csv
  inflating: Test.csv

In [113]:
import numpy as np
import pandas as pd
import seaborn as sns
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error

train = pd.read_csv('Train.csv')
test = pd.read_csv('Test.csv')
sample_sub = pd.read_csv('SampleSubmission.csv')

In [114]:
train.head()

,VehicleID,Location,Maker,Model,Year,Colour,Amount (Million Naira),Type,Distance
0,VHL12546,Abuja,Honda,Accord Coupe EX V-6,"2,011",Silver,2.2,Nigerian Used,NaN
1,VHL18827,Ibadan,Hyundai,Sonata,"2,012",Silver,3.5,Nigerian Used,"125,000"
2,VHL19499,Lagos,Lexus,RX 350,"2,010",Red,9.2,Foreign Used,"110,852"
3,VHL17991,Abuja,Mercedes-Benz,GLE-Class,"2,017",Blue,22.8,Foreign Used,"30,000"
4,VHL12170,Ibadan,Toyota,Highlander,"2,002",Red,2.6,Nigerian Used,"125,206"

**Here, we try to see the amount of data in the train and test sets respectively**

In [115]:
train.shape,test.shape

((7205, 9), (2061, 8))

In [116]:
train['Amount (Million Naira)'] = train['Amount (Million Naira)'].fillna(train['Amount (Million Naira)'].median())

In [117]:
amount = train.pop('Amount (Million Naira)')

In [118]:
all  = pd.concat([train, test], ignore_index = True)
all['Year'] = all['Year'].str.replace(',','')
all['Distance'] = all['Distance'].str.replace(',','')
all[['Year','Distance']] = all[['Year','Distance']].astype(float)

In [119]:
all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9266 entries, 0 to 9265
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   VehicleID  9266 non-null   object
 1   Location   9266 non-null   object
 2   Maker      9266 non-null   object
 3   Model      9266 non-null   object
 4   Year       9243 non-null   float64
 5   Colour     9266 non-null   object
 6   Type       9015 non-null   object
 7   Distance   4845 non-null   float64
dtypes: float64(2), object(6)
memory usage: 579.2+ KB

In [120]:
all['Type'] = all['Type'].fillna('Foreign Used')
all['Year'] = all['Year'].fillna(2011.0)

In [121]:
for col in ['Maker', 'Model', 'Colour']:
  all[col] = all[col].astype('category')
  all[col] = all[col].cat.codes

In [122]:
all = pd.get_dummies(all, columns = ['Location', 'Type'], prefix = '', prefix_sep='')

In [123]:
all.head()

,VehicleID,Maker,Model,Year,Colour,Distance,Abuja,Ibadan,Lagos,Brand New,Foreign Used,Nigerian Used
0,VHL12546,17,142,2011.0,18,NaN,1,0,0,0,0,1
1,VHL18827,19,1204,2012.0,18,125000.0,0,1,0,0,0,1
2,VHL19499,29,1040,2010.0,17,110852.0,0,0,1,0,1,0
3,VHL17991,34,590,2017.0,3,30000.0,1,0,0,0,1,0
4,VHL12170,53,659,2002.0,17,125206.0,0,1,0,0,0,1

*resplit the data into training and test sets*

In [124]:
train, test = all.iloc[:7205], all.iloc[7205:]

In [125]:
train.isna().sum()

VehicleID           0
Maker               0
Model               0
Year                0
Colour              0
Distance         2360
Abuja               0
Ibadan              0
Lagos               0
Brand New           0
Foreign Used        0
Nigerian Used       0
dtype: int64

In [126]:
#xgb = XGBRegressor(random_state = 0,objective ='reg:squarederror',learning_rate = .2, max_depth = 3, min_child_weight = 3)

In [127]:
feats = train.copy()
feats['Amount']  = amount

In [128]:
feats.head()

,VehicleID,Maker,Model,Year,Colour,Distance,Abuja,Ibadan,Lagos,Brand New,Foreign Used,Nigerian Used,Amount
0,VHL12546,17,142,2011.0,18,NaN,1,0,0,0,0,1,2.2
1,VHL18827,19,1204,2012.0,18,125000.0,0,1,0,0,0,1,3.5
2,VHL19499,29,1040,2010.0,17,110852.0,0,0,1,0,1,0,9.2
3,VHL17991,34,590,2017.0,3,30000.0,1,0,0,0,1,0,22.8
4,VHL12170,53,659,2002.0,17,125206.0,0,1,0,0,0,1,2.6

In [129]:
feats_train = feats[feats['Distance'].notnull()]

In [130]:
feats_train.shape

(4845, 13)

In [131]:
feats_train = feats_train.drop(columns = ['VehicleID', ])
feats_train[['Model','Maker','Colour']]  = np.log1p(feats_train[['Model','Maker','Colour']] )

In [132]:
feats_target  = feats_train.pop('Distance')

In [142]:
xgb_dist = XGBRegressor()
xgb_dist.fit(feats_train,feats_target)

[22:07:15] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor()

In [143]:
feats_test = feats[feats['Distance'].isnull()].drop(columns = ['VehicleID','Distance'])
preds = xgb_dist.predict(feats_test)
print(preds)

[ 89707.266  73717.15    4347.671 ... 126592.01  158371.47   86186.25 ]

In [144]:
cleaned_train = train.copy()

cleaned_train.drop(columns = ['VehicleID'])

null_index_array = cleaned_train[cleaned_train['Distance'].isnull()].index.tolist()

print(len(preds))
print(len(null_index_array))

2360
2360

In [145]:
for index, val in zip(null_index_array,preds):
  cleaned_train.loc[index, 'Distance'] = val

In [146]:
cleaned_train.head()

,VehicleID,Maker,Model,Year,Colour,Distance,Abuja,Ibadan,Lagos,Brand New,Foreign Used,Nigerian Used
0,VHL12546,17,142,2011.0,18,89707.265625,1,0,0,0,0,1
1,VHL18827,19,1204,2012.0,18,125000.000000,0,1,0,0,0,1
2,VHL19499,29,1040,2010.0,17,110852.000000,0,0,1,0,1,0
3,VHL17991,34,590,2017.0,3,30000.000000,1,0,0,0,1,0
4,VHL12170,53,659,2002.0,17,125206.000000,0,1,0,0,0,1

In [147]:
cleaned_train.isna().sum()

VehicleID        0
Maker            0
Model            0
Year             0
Colour           0
Distance         0
Abuja            0
Ibadan           0
Lagos            0
Brand New        0
Foreign Used     0
Nigerian Used    0
dtype: int64

In [148]:
cleaned_train[['Model','Maker','Distance','Colour']] = np.log1p(cleaned_train[['Model','Maker','Distance','Colour']] )

In [149]:
X = cleaned_train.drop(columns = ['VehicleID'])
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,amount, random_state = 0)

In [151]:
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error
xgb = XGBRegressor()



xgb.fit(X_train,y_train)
xgb_preds = xgb.predict(X_test)
mean_squared_error(y_test,xgb_preds,squared=False)

[22:07:35] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

10.422913563418872